{% extends 'main.html' %}

{% block content %}

  <!-- about section -->
  {% load static %}
  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/about-img.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About <span>Us</span>
              </h2>
            </div>
            <p>
              Clinical is an Private Hospital and is administered and managed in accordance with a Hospital Constitution approved by The Ministry of Health of Romania. The Hospital has a total of 99 beds – 89 In-Patient beds and 10 Day Care beds. The In-Patient specialties are Cardiology, Image Diagnosis, Surgery. We also have an Urgent Care Centre incorporating a Local Injuries Unit and Medical Assessment Unit.
            </p>
            <a href="" hidden>
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/about-hospital.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Our <span>Mission?</span>
              </h2>
            </div>
            <p>
              In an age where malpractice threatens the lives of our community, we aim to create a safe environment by emphasizing precautions, safety, and welfare of our patients. We do that by striving to lower medical errors, reduce readmission rates, and educate our patients on how to live a healthy lifestyle. Our mission is to improve the quality of life through routine and affordable care.
            </p>
            <a href=""  hidden>
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
<section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/about-doctor.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Doctor <span>Visions</span>
              </h2>
            </div>
            <p>
              Because not all wounds are visible, we, are dedicated to healing the unseen. We do that by helping our patients overcome mental health challenges. We’re committed to being confidential, sympathetic, and approachable in our communications and treatment.
              It was never about the end, it’s about the current moment. We’re here to enable patients live their life to its fullest, experience love and what it means to be understood during hardships.
            </p>
            <a href=""  hidden>
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/about-salon.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Light  <span>Places</span>
              </h2>
            </div>
            <p>
             We don’t know if there is life after death. But we know there is life before death. And this is where we come in. We provide patients seamless experience in their ending journey. We aim to honor the patients' dignity and empower them in their hardest time.
             It was never about the end, it’s about the current moment. We’re here to enable patients live their life to its fullest, experience love and what it means to be understood during hardships.
            </p>
            <a href=""  hidden>
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->
{% endblock %}


