{% extends 'main.html' %}



{% block content %}
 <!-- department section -->
{% load static %}
 <section class="department_section layout_padding">
    <div class="department_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Our Departments
          </h2>
          <p>
            Continuously improve all our services through quality management. Focus on our patients and deliver high quality service
          </p>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <a href="#cardiology">
                <img src="{% static 'images/s1.png' %}" alt="">
              </a>
              </div>
              <div class="detail-box">
                <a href="#cardiology"><h5>
                  Cardiology
                </h5>
              </a>
                <p>
                  Provides medical care to patients who have problems with their heart or circulation. Main department.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <a href="#diagnosis">
                <img src="{% static 'images/s2.png' %}" alt="">
              </a>
              </div>
              <div class="detail-box">
                <a href="#diagnosis">
                <h5>
                  Diagnosis
                </h5>
              </a>
                <p>
                 Also known as X-Ray Department and/or Radiology Department.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <a href="#surgery">
                <img src="{% static 'images/s3.png' %}" alt="">
              </a>
              </div>
              <div class="detail-box">
                <a href="#surgery">

                <h5>
                  Surgery
                </h5>
              </a>
                <p>
                  Covers types of cardiac surgery and procedures on cardiac patients
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <a href="#emergency">
                <img src="{% static 'images/s4.png' %}" alt="">
              </a>
              </div>
              <div class="detail-box">
                <a href="#emergency">
                <h5>
                  EMERGENCY
                </h5>
              </a>
                <p>
                  Emergency department or specialist trauma center, or urgent care
                </p>
              </div>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </section>
  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/depat-cardiology.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2 id="cardiology">
                Cardiology
              </h2>
            </div>
            <p>
              It is our main department.To maximize your heart health, we pay attention to your entire body. At Clinical, many world-class medical specialists and departments are readily available to work together. We will go to any length to optimize your overall well-being, which includes ensuring that your experience is smooth and positive across the board.
             Our most comon procedure is Coronary Bypass surgery, however we are national leaders in paritcular cardiac surgeries.
             Surgeons have extensive experience in aortic valve repairs, and we are pioneering the thoracoscopic assisted open-heart surgery in our country, the "Heartport" system, and mant other low-invasive systems. These safe techiniques are the first step. Aortic aneurysm, we havve a database of over 400 operations, including the newly developed system of aortic stent-grafts
            </p>
                     </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/depart-diagnosis.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2 id="diagnosis">
                Diagnosis
              </h2>
            </div>
            <p>
              Also known as X-Ray Department and/or Radiology Department.The radiology (x-ray) department at Clinical provides a diagnostic service for the Trust and the wider community. Operating under the Ministry of Health of Romania guidelines, the radiology department performs over 10,000 examinations a year, across all specialities.
              The Diagnosis department at Clinical is proud to have been QSI accredited since 2014. QSI is a patient-focussed assessment and accreditation programme that is designed to help diagnostic imaging services ensure that their patients consistently receive high-quality services, delivered by competent staff working in safe environments. To maintain this accreditation, we annually provide evidence to ensure we are meeting this excellent standard, to assure our patients and service users that we provide a high-quality service.  
            </p>
                     </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/depart-surgery.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2 id="surgery">
                Surgery
              </h2>
            </div>
            <p>
              Every year, thousands of patients choose Clinical for needed cardiac surgeries — from simple, minimally invasive procedures to complex and exacting operations. Clinical surgeons perform high volumes of complex cardiac operations. Our caring staff take the time to explain the details and make sure all questions are answered.
              Surgery at Clinical offers several advantages, including efficient scheduling for complex care, a broad spectrum of services, use of the latest technology, and access to clinical trials and new treatments. We offer expertise in heart cancer surgery as well as deep and broad experience in minimally invasive and robotic procedures.
              The Mission of the Department of Surgery is the pursuit of excellence in comprehensive, patient-centered surgical care, teaching, research and evaluation of technology.

            </p>
                     </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/depart-emergency.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2 id="emergency">
                Emergency
              </h2>
            </div>
            <p>
             Emergency department: The department of a hospital responsible for the provision of medical and surgical care to patients arriving at the hospital in need of immediate care. Emergency department personnel may also respond to certain situations within the hospital such cardiac arrests.
             EDs have highly trained doctors and other health professionals on site to deal with emergencies. They assess, treat, stabilise and start the health management of people who have come to the ED with a serious illness or injury.
             Some emergency departments specialise. For example, there are emergency department attached to children’s hospitals, some women’s hospitals . Most EDs, however, accept all emergencies.
             When you go to an ED, the first step is usually for an administrative staff member to get your name, address and Medicare number. This is important to make sure that you receive the treatment you need, and to avoid confusing your healthcare management with anybody else’s.

            This step is bypassed in an emergency.
            </p>
                     </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end department section -->
{% endblock%}

